.pageFooter {
  display: flex;
  justify-content: space-between;
  background-color: rgb(66, 66, 66);
  padding: 10px;
  color: white;
}

.footer-Icons {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 768px) {
  .copy-right {
    width: 180px;
  }
}
